<link rel="stylesheet" href="/assets/vendors/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/assets/vendors/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/assets/vendors/nprogress/nprogress.css">
<link rel="stylesheet" href="/assets/css/admin.css">
<script src="/assets/vendors/nprogress/nprogress.js"></script>

<!-- 有错误信息时展示 -->
<!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->

<form style="padding:20px;overflow-x: hidden;" id="addform">
  <h2>添加新用户</h2>
  <div class="form-group">
    <label for="email">邮箱</label>
    <input id="email" class="form-control" name="email" type="email" placeholder="邮箱">
  </div>
  <div class="form-group">
    <label for="nickname">昵称</label>
    <input id="nickname" class="form-control" name="nickname" type="text" placeholder="昵称">
  </div>
  <div class="form-group">
    <label for="nickname">头像</label>
    <select name="pic" id="">
      <option value="/upload/1.jpg" selected>头像1</option>
      <option value="/upload/2.jpg">头像2</option>
      <option value="/upload/3.jpg">头像3</option>
      <option value="/upload/4.jpg">头像4</option>
      <option value="/upload/5.jpg">头像5</option>
      <option value="/upload/6.jpg">头像6</option>
      <option value="/upload/7.jpg">头像7</option>
    </select>
    <img src="/upload/1.jpg" width="60">
  </div>
  <div class="form-group">
    <label for="email">手机号</label>
    <input id="tel" class="form-control" name="tel" type="email" placeholder="手机号">
  </div>
  <div class="form-group">
    <label for="password">密码</label>
    <input id="password" class="form-control" name="pwd" type="text" placeholder="密码">
  </div>
  <div class="form-group">
    <button class="btn btn-primary add" type="submit">添加</button>
  </div>
</form>


<script src="/assets/vendors/jquery/jquery.js"></script>
<script src="/assets/vendors/bootstrap/js/bootstrap.js"></script>
<script>NProgress.done()</script>
<script>
  $('.add').on('click', function () {
    console.log($('#addform').serialize())
    $.ajax({
      url: '/admin/user/adduserdeal',
      type: 'post',
      data: $('#addform').serialize(),
      datatype: 'json',
      success: function (msg) {
        console.log(msg)
        if (msg.code == 200) {
          alert(msg.message)
        } else {
          alert(msg.message)
          var index = parent.layer.getFrameIndex(window.name)
          parent.layer.close(index)
          parent.location.reload();
        }
      }
    })
  })



  
  $('select').on('change', function () {
    var tu1 = $(this).val();
    console.log(tu1)
    $('img').attr('src', tu1)
  })



</script>